/* universal tag is used for all of my html file control */

h1{
    color: rgb(4, 250, 13);
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    text-shadow: .1rem .1rem gainsboro;
    text-align: left;
    margin-bottom: 1rem;
}
section, a{
    color: rgba(116, 9, 237, 0.925);
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    
}
a li{
    color: rgba(116, 9, 237, 0.925);
    font-size: 40px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#social{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
#about{
    font-size: 40px;
    color:aquamarine;
    font-weight: normal;
    background-color: #343F71;
}
li{
    font-size: 40px;
    text-indent: 10%;
    
}
.address{
    font-size: 30px;
    color: gold;
    text-align: center;
    text-decoration: double;
    margin-bottom: .1rem;
}
img {
    margin-top: auto;
    margin-right: 100%;
    margin-left: 100px;
    margin-bottom: 5%;
    width: 200px;
    height: 150px;
    text-align: left;
}
a{
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

a:hover{
    color: blue;
    
}

#left{    
    float: left;  
} 

h3{
    color: rgb(4, 250, 13);
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: .1rem .1rem gainsboro;
}

header p{
    font-size: larger;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 2rem;
    color: #b21cd4;
}

#starting{
    background-color: black;
}

#projcets{
    background-color: #cf13b9;
}
#education{
    background-color: #f2ea07;
}

#skills{
    background-color: #bdb4d4;
}

.parent_animation{
    height: 50vh;
    margin-top: 3rem;
    display: flex;
    margin-left: 0.5rem; 
}
.child_animation{
    background-color: blue;
    height: 20rem;
    width: 25rem;
    bottom: 5rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes first {
    25%{
        background-color: white;
    }
    50%{
        background-color: #bf13ba;
    }
    75%{
        background-color: orange;
    }
    100%{
        background-color: orangered;
    }
}